<mat-list>
  <mat-list-item>
    <h3>Lista della spesa</h3>
  </mat-list-item>
  <mat-list-item>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Cosa serve?"
          name="item"
          [value]="(item|async)"
          (change)="update($event)">
      </mat-form-field>
      <button
        type="submit"
        mat-mini-fab
        [disabled]="loading | async"          
        color="primary"
        (click)="add()">
        <i class="fas fa-plus"></i>
      </button>
    </form>
  </mat-list-item>
<mat-list>
