
<div class="jumbotron text-center" *ngIf="(todoService.fireitems | async)?.length === 0">
  <h3>Abbiamo il frigo pieno!!</h3>
</div>

  <mat-form-field *ngFor="let item of todoService.fireitems | async">
    <label>{{item.payload.val().dateAdded | date:"dd MMM"}}</label>
    <input matInput type="text" class="form-control mb-2" readonly value="{{ item.payload.val().text }}">
    <div class="col-auto">
      <button mat-mini-fab (click)="remove(item.key)"
              class="btn btn-danger mb-2"
              id="{{item.key}}"><i class="fas fa-times"></i></button>
    </div>
  </mat-form-field>
