<mat-grid-list cols="1" rowHeight="200px" *ngIf="(todoService.pizzaItems | async)?.length === 0">
  <mat-grid-tile
    colspan="1"
    rowspan="1">
    <h3>Stasera cuciniamo noi??</h3>
  </mat-grid-tile>
</mat-grid-list>

<mat-list role="list">
  <mat-list-item *ngFor="let item of todoService.pizzaItems | async" role="listitem">
    <h4 mat-line>{{ item.payload.val().text }}</h4>
    <button mat-mini-fab (click)="remove(item.key, item.payload.val().text)"
            class="btn btn-danger mb-2"
            id="{{item.key}}"><i class="fas fa-times"></i></button>
  </mat-list-item>
</mat-list>
