<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Lista della spesa</a>
  <div *ngIf="afAuth.authState | async as user">
    <!--h1>Hello {{ user.displayName }}!</h1-->
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <div class="jumbotron">
      <button class="btn btn-success" (click)="login()">Login with Google</button>
    </div>
  </ng-template>

</nav>

<div class="container-fluid">
  <div *ngIf="afAuth.authState | async as user; else showLogin">
		<todo></todo>
  </div>
</div>
