<mat-toolbar color="primary">
  <span><button mat-button><mat-icon><i class="fa fa-shopping-cart"  style="padding-bottom: 2px" aria-hidden="true"></i></mat-icon></button></span>
  <span><button mat-button><mat-icon><i class="fa fa-truck"  style="padding-bottom: 2px" aria-hidden="true"></i></mat-icon></button></span>

  <span class="fill-space"></span>
  <span *ngIf="afAuth.authState | async as user">
    <button mat-raised-button color="warn" (click)="logout()">Esci</button>
  </span>
</mat-toolbar>

  <ng-template #showLogin>
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile>
        <button mat-raised-button (click)="login()" color="primary">Login con Google</button>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>


<div class="mat-app-background basic-container">
  <div *ngIf="afAuth.authState | async as user; else showLogin">
    <todo></todo>
  </div>
</div>
