<mat-list>
  <mat-list-item>
    <h3>Ordine per stasera</h3>
  </mat-list-item>
  <mat-list-item>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Cosa mangiamo?"
          [formControl]="form"
          name="text"
          [matAutocomplete]="auto"
          value="">
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <button
        type="submit"
        mat-mini-fab
        color="primary"
        (click)="add()">
        <i class="fas fa-plus"></i>
      </button>

    </form>
  </mat-list-item>
</mat-list>
