<mat-grid-list cols="1" rowHeight="200px" *ngIf="(todoService.shoppingItems | async)?.length === 0">
  <mat-grid-tile
    colspan="1"
    rowspan="1">
    <h3>Abbiamo il frigo pieno!!</h3>
  </mat-grid-tile>
</mat-grid-list>

<mat-list role="list">
  <mat-list-item *ngFor="let item of todoService.shoppingItems | async" role="listitem">
    <h4 mat-line>{{ item.payload.val().text }}</h4>
    <p mat-line> {{item.payload.val().dateAdded | date:"dd MMM"}} </p>
    <button mat-mini-fab (click)="remove(item.key)"
            class="btn btn-danger mb-2"
            id="{{item.key}}"><i class="fas fa-times"></i></button>
  </mat-list-item>
</mat-list>
