<mat-grid-list cols="1" rowHeight="200px" *ngIf="(todoService.items | async)?.length === 0">
<mat-grid-tile
  colspan="1"
  rowspan="1">
  <h3>Abbiamo il frigo pieno!!</h3>
</mat-grid-tile>
</mat-grid-list>

<mat-list role="list">
<mat-list-item *ngFor="let item of todoService.items | async" role="listitem">
  <h4 mat-line>{{ item.payload.val().text }}</h4>
  <p mat-line> {{ item.payload.val().user?item.payload.val().user+', ':'' }} {{item.payload.val().dateAdded | date:"d MMMM"}} </p>
  <button mat-mini-fab (click)="remove(item.key, item.payload.val().text)"
          class="btn btn-danger mb-2"
          [disabled]="loading | async"          
          id="{{item.key}}"><i class="fas fa-times"></i></button>
</mat-list-item>
</mat-list>
